body {
font-family: 'Poiret One', cursive;
}

#header {
background-image: url("../img/shapes.png");
padding: 100px;
/*margin-bottom: 50px;*/
}

#leaf {
	width: 90px;
	height: 90px;
}

#signUp {
margin-right: 5px;
background-color: #00b154;
color: white;
margin-top: 50px;
padding: 20px;
font-size: 20px;
}

#loginButton {
background-color: #00b154;
color: white;
margin-top: 50px;
padding: 20px;
font-size: 20px;
}

#title {
	text-align: left;
	font-size: 80px;
	color: white;
}

.notification {
	color: #3b3936;
	text-align: center;
	font-size: 50px;
	background-color: white;
	margin: 50px;
}

#goals {
	font-size: 22px;
	font-family: 'Cardo', serif;

}

#track {
	font-size: 22px;
	font-family: 'Cardo', serif;
}

#win {
	font-size: 22px;
	font-family: 'Cardo', serif;
}

#green {
	color: #00b154;
}

#bliss {
	color: #00b154;
	font-size: 30px;
}

.checkIt {
	color: #00b154;
}

#about {
	text-align: center;
	color: black;
}

.container {
	background-color: #292725;
	padding: 40px;
}

.container2 {
	background-color: white;
	margin-top: 125px;
	margin-bottom: 125px;
}

.modal {
background-color: white;
}

#foot {
	background-color: #292725;
	padding: 50px;
}

#imgBox {
	/*background-color: white;*/
	padding: 10px;
	margin-right: 10px;
}

/*.imgContainer {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   width: 200px;
    height: 210px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 210px;
    margin-left: 65px;
    border: #00b154 solid 4px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.class {
	width: 200px;
    height: 210px;
    margin-left: 65px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00b154; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#footTitle {
	font-size: 55px;
	background-color: #292725;
	text-align: center;
	border: #00b154 solid 3px;
	margin-bottom: 10px;
	margin-right: 2px;
}

.rw-sentence{
	margin: 0;
	text-align: left;
	color: white;
}


.rw-sentence span{
	color: white;
	white-space: nowrap;
	font-size: 350%;
	font-weight: normal;
}

.rw-words{
	display: inline;
	text-indent: 16px;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: #00b154;
}

.rw-words-1 span{
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
	animation-delay: 3s; 
	color: #00b154;
}
.rw-words span:nth-child(3) { 
	animation-delay: 6s; 
	color: #00b154;	
}
.rw-words span:nth-child(4) { 
	animation-delay: 9s; 
	color: #00b154;
}
.rw-words span:nth-child(5) { 
	animation-delay: 12s; 
	color: #00b154;
}
.rw-words span:nth-child(6) {  
	animation-delay: 15s; 
	color: #00b154;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 80px; }
    19% { opacity: 1; height: 80px; }
	25% { opacity: 0; height: 80px; }
    100% { opacity: 0; }
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}